### Initialization

In [1]:
%load_ext autoreload
%autoreload 2
import configargparse
import sqlite3
import pandas as pd
import numpy as np
import scipy.io
import os
import logging
from sqlalchemy import create_engine
import psycopg2

In [2]:
# DBHOST = "172.19.48.1"
DBHOST = "172.31.208.1"

In [3]:
VERSION="chembl_29"
input_args = f"--sqlite input/{VERSION}_sqlite/{VERSION}.db  --datadir output --prefix {VERSION} "
input_args.split()

['--sqlite',
 'input/chembl_29_sqlite/chembl_29.db',
 '--datadir',
 'output',
 '--prefix',
 'chembl_29']

In [4]:
p = configargparse.ArgParser(default_config_files=["default.ini"])
p.add('-c', '--config', required=False, is_config_file=True, help='Config file path')
p.add('--sqlite', required=True, type=str, help="ChEMBL sqlite database")
#p.add("--organism", required=True, help="Organisms for protein filtering" )
#p.add("--targettype", required=True, help="Target type for protein filtering")
p.add('--mincmpdcount', required=True, help='Minimal number of compounds required for an assays', type=int)
p.add('--thresholds', required=True, help="Thresholds for classification", type=float, action="append")
p.add('--datadir', required=True, help="Data directory to write to (append prefix)", type=str)
p.add('--prefix', required=True, help="Prefix for the current dataset", type=str)
options = p.parse_args(input_args.split())

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

outdir = options.datadir + "/" + options.prefix

In [5]:
print(options)
print(outdir)

Namespace(config=None, sqlite='input/chembl_29_sqlite/chembl_29.db', mincmpdcount=100, thresholds=[5.5, 6.5, 7.5, 8.5], datadir='output', prefix='chembl_29')
output/chembl_29

### Postgres SQL

#### Write to SQL table

In [11]:
engine = create_engine(f"postgresql://kevin:Ahwaz22@{DBHOST}?dbname=chembl_29",encoding='UTF-8', echo=True) 
## ,dbname=chembl_29,user=kevin,host=172.19.48.1,password='Ahwaz22')
conn = engine.connect()

Im here
 dsn: >None<
 key: >host<     value: >172.31.208.1<
 key: >user<     value: >kevin<
 key: >password<     value: >Ahwaz22<
 key: >dbname<     value: >chembl_29<
 dsn: >host=172.31.208.1 user=kevin password=Ahwaz22 dbname=chembl_29<  type: <class 'str'>
 kwasync: {}
connection factory: None
 Connection successful
2022-07-27 13:39:09,901 INFO sqlalchemy.engine.Engine select pg_catalog.version()

2022-07-27 13:39:09,901 - INFO - select pg_catalog.version()

2022-07-27 13:39:09,902 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-07-27 13:39:09,902 - INFO - [raw sql] {}

2022-07-27 13:39:09,908 INFO sqlalchemy.engine.Engine select current_schema()

2022-07-27 13:39:09,908 - INFO - select current_schema()

2022-07-27 13:39:09,910 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-07-27 13:39:09,910 - INFO - [raw sql] {}

2022-07-27 13:39:09,914 INFO sqlalchemy.engine.Engine show standard_conforming_strings

2022-07-27 13:39:09,914 - INFO - show standard_conforming_strings

2022-07-27 13:39:09,916 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-07-27 13:39:09,916 - INFO - [raw sql] {}

In [12]:
# conn = psycopg2.connect(f"dbname=chembl_29 user=kevin host={DBHOST} password=Ahwaz22")
# conn = psycopg2.connect(dbname="chembl_29", user="kevin", host=DBHOST, password="Ahwaz22")

In [13]:
df = pd.read_sql_query("""WITH main_query as 
                         (SELECT target_dictionary.chembl_id   as target_id, 
                                 molecule_dictionary.chembl_id as cmpd_id, 
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END     as ic50,
                                 CASE activities.standard_relation 
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>' 
                                    ELSE 'drop' 
                                 END     as relation
                            FROM molecule_dictionary 
                            JOIN activities ON 
                                 activities.molregno = molecule_dictionary.molregno 
                            JOIN assays ON 
                                 assays.assay_id = activities.assay_id 
                            JOIN target_dictionary ON
                                 target_dictionary.tid = assays.tid
                            JOIN compound_properties ON 
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE 
                                target_dictionary.organism='Homo sapiens' AND 
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND 
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')  
                           )
                           select * from main_query 
                            WHERE 
                                ic50 < 10e9 AND 
                                ic50 >= 10e-5 
                                ORDER BY target_id, cmpd_id """, conn)

2022-07-27 13:39:40,296 INFO sqlalchemy.engine.Engine WITH main_query as
                         (SELECT target_dictionary.chembl_id   as target_id,
                                 molecule_dictionary.chembl_id as cmpd_id,
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END     as ic50,
                                 CASE activities.standard_relation
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>'
                                    ELSE 'drop'
                                 END     as relation
                            FROM molecule_dictionary
                            JOIN activities ON
                                 activities.molregno = molecule_dictionary.molregno
                            JOIN assays ON
                                 assays.assay_id = activities.assay_id
                            JOIN target_dictionary ON
                                 target_dictionary.tid = assays.tid
                            JOIN compound_properties ON
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE
                                target_dictionary.organism='Homo sapiens' AND
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')
                           )
                           select * from main_query
                            WHERE
                                ic50 < 10e9 AND
                                ic50 >= 10e-5
                                ORDER BY target_id, cmpd_id

2022-07-27 13:39:40,296 - INFO - WITH main_query as
                         (SELECT target_dictionary.chembl_id   as target_id,
                                 molecule_dictionary.chembl_id as cmpd_id,
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END     as ic50,
                                 CASE activities.standard_relation
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>'
                                    ELSE 'drop'
                                 END     as relation
                            FROM molecule_dictionary
                            JOIN activities ON
                                 activities.molregno = molecule_dictionary.molregno
                            JOIN assays ON
                                 assays.assay_id = activities.assay_id
                            JOIN target_dictionary ON
                                 target_dictionary.tid = assays.tid
                            JOIN compound_properties ON
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE
                                target_dictionary.organism='Homo sapiens' AND
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')
                           )
                           select * from main_query
                            WHERE
                                ic50 < 10e9 AND
                                ic50 >= 10e-5
                                ORDER BY target_id, cmpd_id

2022-07-27 13:39:40,300 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-07-27 13:39:40,300 - INFO - [raw sql] {}

In [14]:
df.info()
df.head()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858295 entries, 0 to 858294
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  858295 non-null  object
 1   cmpd_id    858295 non-null  object
 2   stu        858295 non-null  object
 3   ic50       858295 non-null  float64
 4   relation   858295 non-null  object
dtypes: float64(1), object(4)
memory usage: 32.7+ MB

target_id      2483
cmpd_id      442813
stu               2
ic50          40954
relation          3
dtype: int64

In [15]:
df

            target_id        cmpd_id stu      ic50 relation
0       CHEMBL1075092  CHEMBL1092618  nM   30000.0        =
1       CHEMBL1075092  CHEMBL1092619  nM   30000.0        =
2       CHEMBL1075092  CHEMBL1093582  nM   30000.0        =
3       CHEMBL1075092  CHEMBL1093848  nM   30000.0        =
4       CHEMBL1075092  CHEMBL2398350  nM   67000.0        =
...               ...            ...  ..       ...      ...
858290     CHEMBL6195  CHEMBL4129140  nM  200000.0        >
858291     CHEMBL6195  CHEMBL4130194  nM   80000.0        >
858292     CHEMBL6195  CHEMBL4635160  nM   10000.0        >
858293     CHEMBL6195  CHEMBL4641424  nM   80000.0        >
858294     CHEMBL6195      CHEMBL590  nM   71000.0        =

[858295 rows x 5 columns]

In [17]:
df.to_csv('Step10/1_sql_output_postgres.csv')

In [18]:
conn.close()

#### test communicating with Postgresql

del engine
del(conn1)

engine = create_engine("postgresql://kevin:Ahwaz22@172.19.48.1?dbname=chembl_29",encoding='UTF-8', echo=True) 
conn1 = engine.connect()

In [49]:
df_tst = pd.read_sql_query("""SELECT * FROM protein_tree LIMIT 199""", conn1)

df_tst.info()
df_tst.head()
df_tst.nunique()

2022-07-20 00:03:49,011 INFO sqlalchemy.engine.Engine SELECT * FROM protein_tree LIMIT 199

2022-07-20 00:03:49,011 - INFO - SELECT * FROM protein_tree LIMIT 199

2022-07-20 00:03:49,015 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-07-20 00:03:49,015 - INFO - [raw sql] {}

In [46]:
conn1.close()

### SQLite : Create Results fron ChemBL database

In [6]:

conn = sqlite3.connect("input/chembl_29_sqlite/chembl_29.db")

In [7]:
df = pd.read_sql_query("""SELECT target_dictionary.chembl_id   as target_id, 
                                 molecule_dictionary.chembl_id as cmpd_id, 
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END                           as ic50,
                                 CASE activities.standard_relation 
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>' 
                                    ELSE 'drop' 
                                 END                           as relation
                            FROM molecule_dictionary 
                            JOIN activities ON 
                                 activities.molregno == molecule_dictionary.molregno 
                            JOIN assays ON 
                                 assays.assay_id == activities.assay_id 
                            JOIN target_dictionary ON
                                 target_dictionary.tid == assays.tid
                            JOIN compound_properties ON 
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE 
                                target_dictionary.organism='Homo sapiens' AND 
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND 
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')  AND
                                ic50 < 10e9 AND 
                                ic50 >= 10e-5 
                                ORDER BY target_id, cmpd_id """, conn)

In [8]:
conn.close()

In [9]:
df.to_csv('Step10/1_sql_output.csv')

In [9]:
df.info()
df.head()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858294 entries, 0 to 858293
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  858294 non-null  object
 1   cmpd_id    858294 non-null  object
 2   stu        858294 non-null  object
 3   ic50       858294 non-null  float64
 4   relation   858294 non-null  object
dtypes: float64(1), object(4)
memory usage: 32.7+ MB

target_id      2483
cmpd_id      442812
stu               2
ic50          40953
relation          3
dtype: int64

In [11]:
df.nunique()

target_id      2483
cmpd_id      442812
stu               2
ic50          40953
relation          3
dtype: int64

### Read SQL results from CSV file Group by Target ID, Compound Id

In [12]:
df = pd.read_csv('Step10/1_sql_output_postgres.csv')

In [13]:
df = df.groupby(["target_id","cmpd_id"]).min().reset_index()

In [14]:
df.to_csv('Step10/2_groupby_min.csv')

In [15]:
df.info()
print(df.head())
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705438 entries, 0 to 705437
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   705438 non-null  object
 1   cmpd_id     705438 non-null  object
 2   Unnamed: 0  705438 non-null  int64
 3   stu         705438 non-null  object
 4   ic50        705438 non-null  float64
 5   relation    705438 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 32.3+ MB
       target_id        cmpd_id  Unnamed: 0 stu     ic50 relation
0  CHEMBL1075092  CHEMBL1092618           0  nM  30000.0        =
1  CHEMBL1075092  CHEMBL1092619           1  nM  30000.0        =
2  CHEMBL1075092  CHEMBL1093582           2  nM  30000.0        =
3  CHEMBL1075092  CHEMBL1093848           3  nM  30000.0        =
4  CHEMBL1075092  CHEMBL2398350           4  nM  67000.0        =

target_id       2483
cmpd_id       442813
Unnamed: 0    705438
stu                2
ic50           37506
relation           3
dtype: int64

In [16]:
tmp  = df.groupby("target_id")["cmpd_id"].nunique()
type(tmp)

pandas.core.series.Series

In [22]:
print(tmp.count)
print(tmp.head())

<bound method Series.count of target_id
CHEMBL1075092       8
CHEMBL1075094       3
CHEMBL1075097     120
CHEMBL1075102      31
CHEMBL1075104    1202
                 ...
CHEMBL6175        684
CHEMBL6177          7
CHEMBL6186          8
CHEMBL6191          1
CHEMBL6195         13
Name: cmpd_id, Length: 2483, dtype: int64>
target_id
CHEMBL1075092       8
CHEMBL1075094       3
CHEMBL1075097     120
CHEMBL1075102      31
CHEMBL1075104    1202
Name: cmpd_id, dtype: int64

In [29]:
tmp.to_csv('Step10/3_groupby_nunique.csv')

### Pickup targets with more than 100 compounds

In [23]:
c = pd.read_csv('Step10/3_groupby_nunique.csv', index_col=0, squeeze=True)
c.name = "compounds"
print(type(c))

<class 'pandas.core.series.Series'>

In [25]:
print(type(c))
print(c.name)
print(c)

<class 'pandas.core.series.Series'>
compounds
target_id
CHEMBL1075092       8
CHEMBL1075094       3
CHEMBL1075097     120
CHEMBL1075102      31
CHEMBL1075104    1202
                 ...
CHEMBL6175        684
CHEMBL6177          7
CHEMBL6186          8
CHEMBL6191          1
CHEMBL6195         13
Name: compounds, Length: 2483, dtype: int64

In [26]:
subset = c[c>= 100]
print(type(subset))
print(subset.name)
print(subset)

<class 'pandas.core.series.Series'>
compounds
target_id
CHEMBL1075097     120
CHEMBL1075104    1202
CHEMBL1075138     499
CHEMBL1075145     493
CHEMBL1075165     121
                 ...
CHEMBL6154        648
CHEMBL6164        781
CHEMBL6166        119
CHEMBL6167        289
CHEMBL6175        684
Name: compounds, Length: 888, dtype: int64

In [27]:
i  = c[c >= 100].index
print(type(i))
i

<class 'pandas.core.indexes.base.Index'>

Index(['CHEMBL1075097', 'CHEMBL1075104', 'CHEMBL1075138', 'CHEMBL1075145',
       'CHEMBL1075165', 'CHEMBL1075315', 'CHEMBL1075317', 'CHEMBL1075319',
       'CHEMBL1075322', 'CHEMBL1163101',
       ...
       'CHEMBL6101', 'CHEMBL6115', 'CHEMBL6120', 'CHEMBL6136', 'CHEMBL6144',
       'CHEMBL6154', 'CHEMBL6164', 'CHEMBL6166', 'CHEMBL6167', 'CHEMBL6175'],
      dtype='object', name='target_id', length=888)

In [28]:
df1 = df[df.target_id.isin(i)]
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [31]:
df1.to_csv("Step10/4_target_id_is_in.csv", index = False)
df1.info()
df1.head()
df1.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669468 entries, 11 to 705408
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   669468 non-null  object
 1   cmpd_id     669468 non-null  object
 2   Unnamed: 0  669468 non-null  int64
 3   stu         669468 non-null  object
 4   ic50        669468 non-null  float64
 5   relation    669468 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 35.8+ MB

target_id        888
cmpd_id       426264
Unnamed: 0    669468
stu                2
ic50           36556
relation           3
dtype: int64

In [37]:
# df1.to_csv("Step10/4_target_id_is_in.csv")
# df1.info()
# df1.head()

### Write target_id / compound_count to Postgresql database

In [40]:
print(psycopg2.__version__)

# conn = psycopg2.connect("dbname=chembl_29 user=kevin host=172.19.48.1 password=Ahwaz22")
# conn = psycopg2.connect(dbname="chembl_29", user="kevin", host="172.19.48.1", password="Ahwaz22")

engine = create_engine(f"postgresql://kevin:Ahwaz22@{DBHOST}:5432?dbname=chembl_29") 
conn = engine.connect()

2.9.3 (dt dec pq3 ext lo64)
Im here
 dsn: >None<
 key: >host<     value: >172.19.48.1<
 key: >user<     value: >kevin<
 key: >password<     value: >Ahwaz22<
 key: >port<     value: >5432<
 key: >dbname<     value: >chembl_29<
 dsn: >host=172.19.48.1 user=kevin password=Ahwaz22 port=5432 dbname=chembl_29<  type: <class 'str'>
 kwasync: {}
connection factory: None

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection timed out
	Is the server running on host "172.19.48.1" and accepting
	TCP/IP connections on port 5432?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [87]:
# stmt = text("SELECT chembl_id FROM pipeline_targetid ")

In [39]:
rc = c.to_sql('pipeline_targetids',  conn, if_exists='replace', index=True)
print(rc)
rc = subset.to_sql('pipeline_targetids_subset',  conn, if_exists='replace', index=True)
print(rc)

ResourceClosedError: This Connection is closed

In [ ]:
conn.close()

### Add log and 9 - log to dataframe

In [43]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

name 'df1' is not defined

In [44]:
df1 = pd.read_csv("Step10/4_target_id_is_in.csv")

In [32]:
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669468 entries, 11 to 705408
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   669468 non-null  object
 1   cmpd_id     669468 non-null  object
 2   Unnamed: 0  669468 non-null  int64
 3   stu         669468 non-null  object
 4   ic50        669468 non-null  float64
 5   relation    669468 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 35.8+ MB

            target_id        cmpd_id  Unnamed: 0 stu      ic50 relation
11      CHEMBL1075097  CHEMBL1234777          11  nM    1360.0        =
12      CHEMBL1075097  CHEMBL1812661          12  nM     311.0        =
13      CHEMBL1075097  CHEMBL1812662          16  nM    3430.0        =
14      CHEMBL1075097  CHEMBL2326084          17  nM     550.0        =
15      CHEMBL1075097  CHEMBL2326085          18  nM     270.0        =
...               ...            ...         ...  ..       ...      ...
705404     CHEMBL6175  CHEMBL4646564      858257  nM    7626.0        =
705405     CHEMBL6175  CHEMBL4648732      858258  nM      11.0        =
705406     CHEMBL6175  CHEMBL4649004      858259  nM     242.0        =
705407     CHEMBL6175   CHEMBL578512      858260  nM     500.0        =
705408     CHEMBL6175    CHEMBL90852      858262  nM  250000.0        =

[669468 rows x 6 columns]

In [33]:
df1["log_ic50"] = np.log10(df1["ic50"])
df1["pic50"] = 9 - np.log10(df1["ic50"])

/tmp/ipykernel_10986/1548786305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["log_ic50"] = np.log10(df1["ic50"])
/tmp/ipykernel_10986/1548786305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["pic50"] = 9 - np.log10(df1["ic50"])

In [36]:
df1.info()
df1.head()
df1.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669468 entries, 11 to 705408
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   669468 non-null  object
 1   cmpd_id     669468 non-null  object
 2   Unnamed: 0  669468 non-null  int64
 3   stu         669468 non-null  object
 4   ic50        669468 non-null  float64
 5   relation    669468 non-null  object
 6   log_ic50    669468 non-null  float64
 7   pic50       669468 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 46.0+ MB

target_id        888
cmpd_id       426264
Unnamed: 0    669468
stu                2
ic50           36556
relation           3
log_ic50       36556
pic50          36556
dtype: int64

In [35]:
df1.to_csv("Step10/5_target_with_log_info.csv", index = False )

### Join dataframe with task_group

In [44]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

In [37]:
df1 = pd.read_csv("Step10/5_target_with_log_info.csv")
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669468 entries, 0 to 669467
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   669468 non-null  object
 1   cmpd_id     669468 non-null  object
 2   Unnamed: 0  669468 non-null  int64
 3   stu         669468 non-null  object
 4   ic50        669468 non-null  float64
 5   relation    669468 non-null  object
 6   log_ic50    669468 non-null  float64
 7   pic50       669468 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 40.9+ MB

,target_id,cmpd_id,Unnamed: 0,stu,ic50,relation,log_ic50,pic50
0,CHEMBL1075097,CHEMBL1234777,11,nM,1360.0,=,3.133539,5.866461
1,CHEMBL1075097,CHEMBL1812661,12,nM,311.0,=,2.492760,6.507240
2,CHEMBL1075097,CHEMBL1812662,16,nM,3430.0,=,3.535294,5.464706
3,CHEMBL1075097,CHEMBL2326084,17,nM,550.0,=,2.740363,6.259637
4,CHEMBL1075097,CHEMBL2326085,18,nM,270.0,=,2.431364,6.568636
...,...,...,...,...,...,...,...,...
669463,CHEMBL6175,CHEMBL4646564,858257,nM,7626.0,=,3.882297,5.117703
669464,CHEMBL6175,CHEMBL4648732,858258,nM,11.0,=,1.041393,7.958607
669465,CHEMBL6175,CHEMBL4649004,858259,nM,242.0,=,2.383815,6.616185
669466,CHEMBL6175,CHEMBL578512,858260,nM,500.0,=,2.698970,6.301030
669467,CHEMBL6175,CHEMBL90852,858262,nM,250000.0,=,5.397940,3.602060

In [38]:
# engine = create_engine("postgresql://kevin:Ahwaz22@172.19.48.1:5432?dbname=chembl_29") 
## ,dbname=chembl_29,user=kevin,host=172.19.48.1,password='Ahwaz22')

engine = create_engine(f"postgresql://kevin:Ahwaz22@{DBHOST}:5432?dbname=chembl_29") 
conn = engine.connect()

Im here
 dsn: >None<
 key: >host<     value: >172.31.208.1<
 key: >user<     value: >kevin<
 key: >password<     value: >Ahwaz22<
 key: >port<     value: >5432<
 key: >dbname<     value: >chembl_29<
 dsn: >host=172.31.208.1 user=kevin password=Ahwaz22 port=5432 dbname=chembl_29<  type: <class 'str'>
 kwasync: {}
connection factory: None
 Connection successful

In [39]:
join_df = pd.read_sql_query(
    """ select 
        a.target_id, b.task_group
        from public.protein_task as a
        inner join protein_taskgroup_xref as b  on a.protein_id = b.protein_id
        order by target_id """,conn)

In [40]:
# join_df['protein_id'] = join_df['protein_id'].astype('string')
# join_df['protein_id'] = join_df['protein_id'].astype('string')
print(join_df.info())
print(join_df)

print(join_df['task_group'].value_counts())
join_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   target_id   4119 non-null   object
 1   task_group  4119 non-null   int64
dtypes: int64(1), object(1)
memory usage: 64.5+ KB
None
          target_id  task_group
0     CHEMBL1075092        1005
1     CHEMBL1075094           0
2     CHEMBL1075097           1
3     CHEMBL1075101          11
4     CHEMBL1075102         643
...             ...         ...
4114     CHEMBL6189         643
4115     CHEMBL6190        1005
4116     CHEMBL6191           6
4117     CHEMBL6195        1028
4118     CHEMBL6196           1

[4119 rows x 2 columns]
0       1311
1        761
11       457
6        450
643      317
1028     209
836      206
10       202
1005     172
1031      34
Name: task_group, dtype: int64

       target_id  task_group
0  CHEMBL1075092        1005
1  CHEMBL1075094           0
2  CHEMBL1075097           1
3  CHEMBL1075101          11
4  CHEMBL1075102         643

In [41]:
# join_df = pd.read_sql_query(""" select  distinct
#           target_id, protein_id
#         from  protein_task
#         order by target_id""",conn)
# join_df.info()
# join_df.head()
# join_df

In [ ]:
df1 =df1.join(join_df.set_index('target_id'), on='target_id', how='left',lsuffix='_caller', rsuffix='_other')

In [43]:
df1.info()
df1.head()
df1.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 692071 entries, 0 to 669467
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   692071 non-null  object
 1   cmpd_id     692071 non-null  object
 2   Unnamed: 0  692071 non-null  int64
 3   stu         692071 non-null  object
 4   ic50        692071 non-null  float64
 5   relation    692071 non-null  object
 6   log_ic50    692071 non-null  float64
 7   pic50       692071 non-null  float64
 8   task_group  692071 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 52.8+ MB

target_id        888
cmpd_id       426264
Unnamed: 0    669468
stu                2
ic50           36556
relation           3
log_ic50       36556
pic50          36556
task_group        10
dtype: int64

In [26]:
df1.to_csv("Step10/6_target_joined_with_taskgroup.csv", index = False )

In [27]:
df1['task_group'].value_counts()

6       198245
11       85665
1028     81584
1        79139
0        69626
10       39739
836      38859
1005     37860
1031     32412
643      28942
Name: task_group, dtype: int64

In [28]:
df1['task_group'].value_counts()

6       198245
11       85665
1028     81584
1        79139
0        69626
10       39739
836      38859
1005     37860
1031     32412
643      28942
Name: task_group, dtype: int64

### Add Columns for various thresholds

In [61]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

In [44]:
df1 = pd.read_csv("Step10/6_target_joined_with_taskgroup.csv")
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692071 entries, 0 to 692070
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   692071 non-null  object
 1   cmpd_id     692071 non-null  object
 2   Unnamed: 0  692071 non-null  int64
 3   stu         692071 non-null  object
 4   ic50        692071 non-null  float64
 5   relation    692071 non-null  object
 6   log_ic50    692071 non-null  float64
 7   pic50       692071 non-null  float64
 8   task_group  692071 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 47.5+ MB

,target_id,cmpd_id,Unnamed: 0,stu,ic50,relation,log_ic50,pic50,task_group
0,CHEMBL1075097,CHEMBL1234777,11,nM,1360.0,=,3.133539,5.866461,1
1,CHEMBL1075097,CHEMBL1812661,12,nM,311.0,=,2.492760,6.507240,1
2,CHEMBL1075097,CHEMBL1812662,16,nM,3430.0,=,3.535294,5.464706,1
3,CHEMBL1075097,CHEMBL2326084,17,nM,550.0,=,2.740363,6.259637,1
4,CHEMBL1075097,CHEMBL2326085,18,nM,270.0,=,2.431364,6.568636,1
...,...,...,...,...,...,...,...,...,...
692066,CHEMBL6175,CHEMBL578512,858260,nM,500.0,=,2.698970,6.301030,836
692067,CHEMBL6175,CHEMBL578512,858260,nM,500.0,=,2.698970,6.301030,836
692068,CHEMBL6175,CHEMBL90852,858262,nM,250000.0,=,5.397940,3.602060,836
692069,CHEMBL6175,CHEMBL90852,858262,nM,250000.0,=,5.397940,3.602060,836
692070,CHEMBL6175,CHEMBL90852,858262,nM,250000.0,=,5.397940,3.602060,836

In [45]:
df1['task_group'].value_counts()

6       198245
11       85665
1028     81584
1        79139
0        69626
10       39739
836      38859
1005     37860
1031     32412
643      28942
Name: task_group, dtype: int64

In [46]:
tmp = df1.groupby(by=['target_id'])['task_group'].nunique()
tmp

target_id
CHEMBL1075097    1
CHEMBL1075104    1
CHEMBL1075138    1
CHEMBL1075145    1
CHEMBL1075165    1
                ..
CHEMBL6154       1
CHEMBL6164       1
CHEMBL6166       1
CHEMBL6167       1
CHEMBL6175       1
Name: task_group, Length: 888, dtype: int64

In [33]:
tmp[tmp>1]

target_id
CHEMBL3521       2
CHEMBL4081       2
CHEMBL4105860    2
CHEMBL4958       2
Name: task_group, dtype: int64

In [34]:
idx = list(tmp[tmp > 1].index.values)
print(idx)

['CHEMBL3521', 'CHEMBL4081', 'CHEMBL4105860', 'CHEMBL4958']

In [35]:
df1[df1['target_id'].isin(idx)]['task_group'].value_counts()

11    529
0     495
1     396
Name: task_group, dtype: int64

In [47]:
value_vars = []
for thr in   [5.5, 6.5, 7.5, 8.5]:
    value_vars.append("%1.1f" % thr)
print(value_vars)

['5.5', '6.5', '7.5', '8.5']

In [48]:
for thr in   [5.5, 6.5, 7.5, 8.5]:
    thr_str = f"{thr:1.1f}"
    logging.info("Processing threshold : '%1.1f'" % thr)

    ## using +1 and -1 for actives and inactives
    df1[thr_str] = (df1["pic50"] >= thr) * 2.0 - 1.0
    df1[thr_str] = np.where(np.logical_and((df1["relation"] == '<'), (df1['pic50'] < thr)), np.nan, df1[thr_str]) 
    df1[thr_str] = np.where(np.logical_and((df1["relation"] == '>'), (df1['pic50'] > thr)), np.nan, df1[thr_str])

2022-08-01 14:52:58,933 - INFO - Processing threshold : '5.5'
2022-08-01 14:52:59,046 - INFO - Processing threshold : '6.5'
2022-08-01 14:52:59,139 - INFO - Processing threshold : '7.5'
2022-08-01 14:52:59,276 - INFO - Processing threshold : '8.5'

In [38]:
print( value_vars)

['5.5', '6.5', '7.5', '8.5']

In [49]:
df1.info()
df1
# df1['task_group'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692071 entries, 0 to 692070
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   692071 non-null  object
 1   cmpd_id     692071 non-null  object
 2   Unnamed: 0  692071 non-null  int64
 3   stu         692071 non-null  object
 4   ic50        692071 non-null  float64
 5   relation    692071 non-null  object
 6   log_ic50    692071 non-null  float64
 7   pic50       692071 non-null  float64
 8   task_group  692071 non-null  int64
 9   5.5         672437 non-null  float64
 10  6.5         680877 non-null  float64
 11  7.5         674097 non-null  float64
 12  8.5         671627 non-null  float64
dtypes: float64(7), int64(2), object(4)
memory usage: 68.6+ MB

,target_id,cmpd_id,Unnamed: 0,stu,ic50,relation,log_ic50,pic50,task_group,5.5,6.5,7.5,8.5
0,CHEMBL1075097,CHEMBL1234777,11,nM,1360.0,=,3.133539,5.866461,1,1.0,-1.0,-1.0,-1.0
1,CHEMBL1075097,CHEMBL1812661,12,nM,311.0,=,2.492760,6.507240,1,1.0,1.0,-1.0,-1.0
2,CHEMBL1075097,CHEMBL1812662,16,nM,3430.0,=,3.535294,5.464706,1,-1.0,-1.0,-1.0,-1.0
3,CHEMBL1075097,CHEMBL2326084,17,nM,550.0,=,2.740363,6.259637,1,1.0,-1.0,-1.0,-1.0
4,CHEMBL1075097,CHEMBL2326085,18,nM,270.0,=,2.431364,6.568636,1,1.0,1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
692066,CHEMBL6175,CHEMBL578512,858260,nM,500.0,=,2.698970,6.301030,836,1.0,-1.0,-1.0,-1.0
692067,CHEMBL6175,CHEMBL578512,858260,nM,500.0,=,2.698970,6.301030,836,1.0,-1.0,-1.0,-1.0
692068,CHEMBL6175,CHEMBL90852,858262,nM,250000.0,=,5.397940,3.602060,836,-1.0,-1.0,-1.0,-1.0
692069,CHEMBL6175,CHEMBL90852,858262,nM,250000.0,=,5.397940,3.602060,836,-1.0,-1.0,-1.0,-1.0
692070,CHEMBL6175,CHEMBL90852,858262,nM,250000.0,=,5.397940,3.602060,836,-1.0,-1.0,-1.0,-1.0

In [69]:
df1.to_csv("Step10/7_target_with_thresholds.csv", index = False )

In [70]:
df1['task_group'].value_counts()

6       198245
11       85665
1028     81584
1        79139
0        69626
10       39739
836      38859
1005     37860
1031     32412
643      28942
Name: task_group, dtype: int64

###  Unpivot target_id and cmpd_id

In [71]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

In [10]:
value_vars = []
for thr in   [5.5, 6.5, 7.5, 8.5]:
    value_vars.append("%1.1f" % thr)
print(value_vars)

2022-07-25 16:57:18,587 - INFO - Processing threshold : '5.5'
2022-07-25 16:57:18,589 - INFO - Processing threshold : '6.5'
2022-07-25 16:57:18,592 - INFO - Processing threshold : '7.5'
2022-07-25 16:57:18,593 - INFO - Processing threshold : '8.5'

thr_str  5.5  type: <class 'str'>
thr_str  6.5  type: <class 'str'>
thr_str  7.5  type: <class 'str'>
thr_str  8.5  type: <class 'str'>

In [50]:
df1 = pd.read_csv("Step10/7_target_with_thresholds.csv")

In [52]:
df1.info()
df1.head()
print(df1.nunique())
print(df1['task_group'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692071 entries, 0 to 692070
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   692071 non-null  object
 1   cmpd_id     692071 non-null  object
 2   Unnamed: 0  692071 non-null  int64
 3   stu         692071 non-null  object
 4   ic50        692071 non-null  float64
 5   relation    692071 non-null  object
 6   log_ic50    692071 non-null  float64
 7   pic50       692071 non-null  float64
 8   task_group  692071 non-null  int64
 9   5.5         672437 non-null  float64
 10  6.5         680877 non-null  float64
 11  7.5         674097 non-null  float64
 12  8.5         671627 non-null  float64
dtypes: float64(7), int64(2), object(4)
memory usage: 68.6+ MB
target_id        888
cmpd_id       426264
Unnamed: 0    669468
stu                2
ic50           36556
relation           3
log_ic50       36556
pic50          36556
task_group        10
5.5                2
6.5                2
7.5                2
8.5                2
dtype: int64
6       198245
11       85665
1028     81584
1        79139
0        69626
10       39739
836      38859
1005     37860
1031     32412
643      28942
Name: task_group, dtype: int64

In [28]:
df1.info()
df1
df1['task_group'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692071 entries, 0 to 692070
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   692071 non-null  object
 1   cmpd_id     692071 non-null  object
 2   Unnamed: 0  692071 non-null  int64
 3   stu         692071 non-null  object
 4   ic50        692071 non-null  float64
 5   relation    692071 non-null  object
 6   log_ic50    692071 non-null  float64
 7   pic50       692071 non-null  float64
 8   task_group  692071 non-null  int64
 9   5.5         672437 non-null  float64
 10  6.5         680877 non-null  float64
 11  7.5         674097 non-null  float64
 12  8.5         671627 non-null  float64
dtypes: float64(7), int64(2), object(4)
memory usage: 68.6+ MB

6       198245
11       85665
1028     81584
1        79139
0        69626
10       39739
836      38859
1005     37860
1031     32412
643      28942
Name: task_group, dtype: int64

In [53]:
logging.info("Unpivot target_id and cmpd_id ")

# Unpivot df from wide to long format
# melted = pd.melt(df1, id_vars=['target_id','cmpd_id', 'task_group'], value_vars=value_vars).dropna()   
melted = pd.melt(df1, id_vars=['target_id','cmpd_id' ], value_vars=value_vars).dropna()

2022-08-01 14:54:30,008 - INFO - Unpivot target_id and cmpd_id

In [56]:
print(melted.info())
print(melted.nunique())
melted

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2699038 entries, 0 to 2768283
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   target_id  object
 1   cmpd_id    object
 2   variable   object
 3   value      float64
dtypes: float64(1), object(3)
memory usage: 103.0+ MB
None
target_id       888
cmpd_id      423809
variable          4
value             2
dtype: int64

             target_id        cmpd_id variable  value
0        CHEMBL1075097  CHEMBL1234777      5.5    1.0
1        CHEMBL1075097  CHEMBL1812661      5.5    1.0
2        CHEMBL1075097  CHEMBL1812662      5.5   -1.0
3        CHEMBL1075097  CHEMBL2326084      5.5    1.0
4        CHEMBL1075097  CHEMBL2326085      5.5    1.0
...                ...            ...      ...    ...
2768279     CHEMBL6175   CHEMBL578512      8.5   -1.0
2768280     CHEMBL6175   CHEMBL578512      8.5   -1.0
2768281     CHEMBL6175    CHEMBL90852      8.5   -1.0
2768282     CHEMBL6175    CHEMBL90852      8.5   -1.0
2768283     CHEMBL6175    CHEMBL90852      8.5   -1.0

[2699038 rows x 4 columns]

In [76]:
print(' unique target ids : ', melted["target_id"].nunique())
print(' unique task groups: ', melted["task_group"].nunique())
print(' task group value counts: \n')
print(melted["task_group"].value_counts())

 unique target ids :  888
 unique task groups:  10
 task group value counts:

6       764934
11      336268
1028    323550
1       310129
0       270580
10      155195
836     150758
1005    149430
1031    126561
643     111633
Name: task_group, dtype: int64

In [57]:
melted.to_csv("Step10/7_melted.csv", index=True)

### Write results
    
    
    1.5_melted.csv
    chembl_29_thresh.csv
    chembl_29_compounds.csv
    chmebl_29_targets.csv

In [78]:
print(outdir)
print(options.prefix)

output/chembl_29
chembl_29

In [80]:
print(" write %s/%s_thresholds.csv" % (outdir, options.prefix))
melted.to_csv('%s/%s_thresholds.csv' % (outdir, options.prefix), index = False)
#Write unique compound IDs
print("write %s/%s_compounds.csv" % (outdir, options.prefix))
np.savetxt("%s/%s_compounds.csv" % (outdir, options.prefix), melted["cmpd_id"].unique(), fmt="%s")
#Write unique target  IDs
print("write %s/%s_targets.csv" % (outdir, options.prefix))
np.savetxt("%s/%s_targets.csv"   % (outdir, options.prefix), melted["target_id"].unique(), fmt="%s")

 write output/chembl_29/chembl_29_thresholds.csv
write output/chembl_29/chembl_29_compounds.csv
write output/chembl_29/chembl_29_targets.csv

### peek at `melted.csv`

In [35]:
tmp = pd.read_csv('Step10/7_melted.csv')

In [36]:
tmp.info()
tmp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2699038 entries, 0 to 2699037
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   target_id   object
 2   cmpd_id     object
 3   task_group  int64
 4   variable    float64
 5   value       float64
dtypes: float64(2), int64(2), object(2)
memory usage: 123.6+ MB

         Unnamed: 0      target_id        cmpd_id  task_group  variable  value
0                 0  CHEMBL1075097  CHEMBL1234777           1       5.5    1.0
1                 1  CHEMBL1075097  CHEMBL1812661           1       5.5    1.0
2                 2  CHEMBL1075097  CHEMBL1812662           1       5.5   -1.0
3                 3  CHEMBL1075097  CHEMBL2326084           1       5.5    1.0
4                 4  CHEMBL1075097  CHEMBL2326085           1       5.5    1.0
...             ...            ...            ...         ...       ...    ...
2699033     2768279     CHEMBL6175   CHEMBL578512         836       8.5   -1.0
2699034     2768280     CHEMBL6175   CHEMBL578512         836       8.5   -1.0
2699035     2768281     CHEMBL6175    CHEMBL90852         836       8.5   -1.0
2699036     2768282     CHEMBL6175    CHEMBL90852         836       8.5   -1.0
2699037     2768283     CHEMBL6175    CHEMBL90852         836       8.5   -1.0

[2699038 rows x 6 columns]

In [37]:
tmp.nunique()

Unnamed: 0    2699038
target_id         888
cmpd_id        423809
task_group         10
variable            4
value               2
dtype: int64

In [38]:
tmp['task_group'].value_counts()

6       764934
11      336268
1028    323550
1       310129
0       270580
10      155195
836     150758
1005    149430
1031    126561
643     111633
Name: task_group, dtype: int64