### Initialization

In [1]:
%load_ext autoreload
%autoreload 2
import configargparse
import sqlite3
import pandas as pd
import numpy as np
import scipy.io
import os
import logging
from sqlalchemy import create_engine
import psycopg2

In [2]:
# DBHOST = "172.19.48.1"
DBHOST = "172.31.208.1"
DBHOST = "172.20.240.1"

In [3]:
VERSION="chembl_29"
input_args = f"--sqlite input/{VERSION}_sqlite/{VERSION}.db  --datadir output --prefix chembl_29_dev "
input_args.split()

['--sqlite',
 'input/chembl_29_sqlite/chembl_29.db',
 '--datadir',
 'output',
 '--prefix',
 'chembl_29_dev']

In [4]:
p = configargparse.ArgParser(default_config_files=["default.ini"])
p.add('-c', '--config', required=False, is_config_file=True, help='Config file path')
p.add('--sqlite', required=True, type=str, help="ChEMBL sqlite database")
#p.add("--organism", required=True, help="Organisms for protein filtering" )
#p.add("--targettype", required=True, help="Target type for protein filtering")
p.add('--mincmpdcount', required=True, help='Minimal number of compounds required for an assays', type=int)
p.add('--thresholds', required=True, help="Thresholds for classification", type=float, action="append")
p.add('--datadir', required=True, help="Data directory to write to (append prefix)", type=str)
p.add('--prefix', required=True, help="Prefix for the current dataset", type=str)
options = p.parse_args(input_args.split())

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

outdir = options.datadir + "/" + options.prefix

In [5]:
print(options)
print(outdir)

Namespace(config=None, sqlite='input/chembl_29_sqlite/chembl_29.db', mincmpdcount=100, thresholds=[5.5, 6.5, 7.5, 8.5], datadir='output', prefix='chembl_29_dev')
output/chembl_29_dev

### Postgres SQL

#### Write to SQL table

In [6]:
engine = create_engine(f"postgresql://kevin:Ahwaz22@{DBHOST}?dbname=chembl_29",encoding='UTF-8', echo=True) 
## ,dbname=chembl_29,user=kevin,host=172.19.48.1,password='Ahwaz22')
conn = engine.connect()

Im here
 dsn: >None<
 key: >host<     value: >172.20.240.1<
 key: >user<     value: >kevin<
 key: >password<     value: >Ahwaz22<
 key: >dbname<     value: >chembl_29<
 dsn: >host=172.20.240.1 user=kevin password=Ahwaz22 dbname=chembl_29<  type: <class 'str'>
 kwasync: {}
connection factory: None
 Connection successful
2022-08-02 16:17:41,692 INFO sqlalchemy.engine.Engine select pg_catalog.version()

2022-08-02 16:17:41,692 - INFO - select pg_catalog.version()

2022-08-02 16:17:41,694 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-08-02 16:17:41,694 - INFO - [raw sql] {}

2022-08-02 16:17:41,701 INFO sqlalchemy.engine.Engine select current_schema()

2022-08-02 16:17:41,701 - INFO - select current_schema()

2022-08-02 16:17:41,704 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-08-02 16:17:41,704 - INFO - [raw sql] {}

2022-08-02 16:17:41,707 INFO sqlalchemy.engine.Engine show standard_conforming_strings

2022-08-02 16:17:41,707 - INFO - show standard_conforming_strings

2022-08-02 16:17:41,710 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-08-02 16:17:41,710 - INFO - [raw sql] {}

In [ ]:
# conn = psycopg2.connect(f"dbname=chembl_29 user=kevin host={DBHOST} password=Ahwaz22")
# conn = psycopg2.connect(dbname="chembl_29", user="kevin", host=DBHOST, password="Ahwaz22")

In [7]:
df = pd.read_sql_query("""WITH main_query as 
                         (SELECT target_dictionary.chembl_id   as target_id, 
                                 molecule_dictionary.chembl_id as cmpd_id, 
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END     as ic50,
                                 CASE activities.standard_relation 
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>' 
                                    ELSE 'drop' 
                                 END     as relation
                            FROM molecule_dictionary 
                            JOIN activities ON 
                                 activities.molregno = molecule_dictionary.molregno 
                            JOIN assays ON 
                                 assays.assay_id = activities.assay_id 
                            JOIN target_dictionary ON
                                 target_dictionary.tid = assays.tid
                            JOIN compound_properties ON 
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE 
                                target_dictionary.organism='Homo sapiens' AND 
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND 
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')  
                           )
                           select * from main_query 
                            WHERE 
                                ic50 < 10e9 AND 
                                ic50 >= 10e-5 
                                ORDER BY target_id, cmpd_id """, conn)

2022-08-02 16:17:45,149 INFO sqlalchemy.engine.Engine WITH main_query as
                         (SELECT target_dictionary.chembl_id   as target_id,
                                 molecule_dictionary.chembl_id as cmpd_id,
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END     as ic50,
                                 CASE activities.standard_relation
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>'
                                    ELSE 'drop'
                                 END     as relation
                            FROM molecule_dictionary
                            JOIN activities ON
                                 activities.molregno = molecule_dictionary.molregno
                            JOIN assays ON
                                 assays.assay_id = activities.assay_id
                            JOIN target_dictionary ON
                                 target_dictionary.tid = assays.tid
                            JOIN compound_properties ON
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE
                                target_dictionary.organism='Homo sapiens' AND
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')
                           )
                           select * from main_query
                            WHERE
                                ic50 < 10e9 AND
                                ic50 >= 10e-5
                                ORDER BY target_id, cmpd_id

2022-08-02 16:17:45,149 - INFO - WITH main_query as
                         (SELECT target_dictionary.chembl_id   as target_id,
                                 molecule_dictionary.chembl_id as cmpd_id,
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END     as ic50,
                                 CASE activities.standard_relation
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>'
                                    ELSE 'drop'
                                 END     as relation
                            FROM molecule_dictionary
                            JOIN activities ON
                                 activities.molregno = molecule_dictionary.molregno
                            JOIN assays ON
                                 assays.assay_id = activities.assay_id
                            JOIN target_dictionary ON
                                 target_dictionary.tid = assays.tid
                            JOIN compound_properties ON
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE
                                target_dictionary.organism='Homo sapiens' AND
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')
                           )
                           select * from main_query
                            WHERE
                                ic50 < 10e9 AND
                                ic50 >= 10e-5
                                ORDER BY target_id, cmpd_id

2022-08-02 16:17:45,152 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-08-02 16:17:45,152 - INFO - [raw sql] {}

In [8]:
df.info()
df.head()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858295 entries, 0 to 858294
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  858295 non-null  object
 1   cmpd_id    858295 non-null  object
 2   stu        858295 non-null  object
 3   ic50       858295 non-null  float64
 4   relation   858295 non-null  object
dtypes: float64(1), object(4)
memory usage: 32.7+ MB

target_id      2483
cmpd_id      442813
stu               2
ic50          40954
relation          3
dtype: int64

In [9]:
df

            target_id        cmpd_id stu      ic50 relation
0       CHEMBL1075092  CHEMBL1092618  nM   30000.0        =
1       CHEMBL1075092  CHEMBL1092619  nM   30000.0        =
2       CHEMBL1075092  CHEMBL1093582  nM   30000.0        =
3       CHEMBL1075092  CHEMBL1093848  nM   30000.0        =
4       CHEMBL1075092  CHEMBL2398350  nM   67000.0        =
...               ...            ...  ..       ...      ...
858290     CHEMBL6195  CHEMBL4129140  nM  200000.0        >
858291     CHEMBL6195  CHEMBL4130194  nM   80000.0        >
858292     CHEMBL6195  CHEMBL4635160  nM   10000.0        >
858293     CHEMBL6195  CHEMBL4641424  nM   80000.0        >
858294     CHEMBL6195      CHEMBL590  nM   71000.0        =

[858295 rows x 5 columns]

In [10]:
df.to_csv('Step10/1_sql_output_postgres.csv')

In [11]:
conn.close()

#### test communicating with Postgresql

del engine
del(conn1)

engine = create_engine("postgresql://kevin:Ahwaz22@172.19.48.1?dbname=chembl_29",encoding='UTF-8', echo=True) 
conn1 = engine.connect()

In [49]:
df_tst = pd.read_sql_query("""SELECT * FROM protein_tree LIMIT 199""", conn1)

df_tst.info()
df_tst.head()
df_tst.nunique()

2022-07-20 00:03:49,011 INFO sqlalchemy.engine.Engine SELECT * FROM protein_tree LIMIT 199

2022-07-20 00:03:49,011 - INFO - SELECT * FROM protein_tree LIMIT 199

2022-07-20 00:03:49,015 INFO sqlalchemy.engine.Engine [raw sql] {}

2022-07-20 00:03:49,015 - INFO - [raw sql] {}

In [46]:
conn1.close()

### SQLite : Create Results fron ChemBL database

In [6]:

conn = sqlite3.connect("input/chembl_29_sqlite/chembl_29.db")

In [7]:
df = pd.read_sql_query("""SELECT target_dictionary.chembl_id   as target_id, 
                                 molecule_dictionary.chembl_id as cmpd_id, 
                                 activities.standard_units     as stu,
                                 CASE activities.standard_units
                                    WHEN 'nM'      THEN activities.standard_value
                                    WHEN 'ug.mL-1' THEN activities.standard_value / compound_properties.full_mwt * 1E6
                                 END                           as ic50,
                                 CASE activities.standard_relation 
                                    WHEN '<'  THEN '<'
                                    WHEN '<=' THEN '<'
                                    WHEN '='  THEN '='
                                    WHEN '>'  THEN '>'
                                    WHEN '>=' THEN '>' 
                                    ELSE 'drop' 
                                 END                           as relation
                            FROM molecule_dictionary 
                            JOIN activities ON 
                                 activities.molregno == molecule_dictionary.molregno 
                            JOIN assays ON 
                                 assays.assay_id == activities.assay_id 
                            JOIN target_dictionary ON
                                 target_dictionary.tid == assays.tid
                            JOIN compound_properties ON 
                                 compound_properties.molregno = molecule_dictionary.molregno
                           WHERE 
                                target_dictionary.organism='Homo sapiens' AND 
                                target_dictionary.target_type='SINGLE PROTEIN' AND
                                activities.standard_type = 'IC50' AND 
                                activities.standard_units IN  ('nM','ug.mL-1') AND
                                activities.standard_relation IN ('<', '<=', '=','>', '>=')  AND
                                ic50 < 10e9 AND 
                                ic50 >= 10e-5 
                                ORDER BY target_id, cmpd_id """, conn)

In [8]:
conn.close()

In [9]:
df.to_csv('Step10/1_sql_output.csv')

In [9]:
df.info()
df.head()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858294 entries, 0 to 858293
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  858294 non-null  object
 1   cmpd_id    858294 non-null  object
 2   stu        858294 non-null  object
 3   ic50       858294 non-null  float64
 4   relation   858294 non-null  object
dtypes: float64(1), object(4)
memory usage: 32.7+ MB

target_id      2483
cmpd_id      442812
stu               2
ic50          40953
relation          3
dtype: int64

In [11]:
df.nunique()

target_id      2483
cmpd_id      442812
stu               2
ic50          40953
relation          3
dtype: int64

### Read SQL results from CSV file Group by Target ID, Compound Id

In [12]:
# del df
# df = pd.read_csv('Step10/1_sql_output_postgres.csv')

In [12]:
df = df.groupby(["target_id","cmpd_id"]).min().reset_index()

In [13]:
df.to_csv('Step10/2_groupby_min.csv')

In [14]:
df.info()
print(df.head())
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705438 entries, 0 to 705437
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  705438 non-null  object
 1   cmpd_id    705438 non-null  object
 2   stu        705438 non-null  object
 3   ic50       705438 non-null  float64
 4   relation   705438 non-null  object
dtypes: float64(1), object(4)
memory usage: 26.9+ MB
       target_id        cmpd_id stu     ic50 relation
0  CHEMBL1075092  CHEMBL1092618  nM  30000.0        =
1  CHEMBL1075092  CHEMBL1092619  nM  30000.0        =
2  CHEMBL1075092  CHEMBL1093582  nM  30000.0        =
3  CHEMBL1075092  CHEMBL1093848  nM  30000.0        =
4  CHEMBL1075092  CHEMBL2398350  nM  67000.0        =

target_id      2483
cmpd_id      442813
stu               2
ic50          37506
relation          3
dtype: int64

In [15]:
tmp  = df.groupby("target_id")["cmpd_id"].nunique()
type(tmp)

pandas.core.series.Series

In [16]:
print(tmp.count)
print(tmp.head())

<bound method Series.count of target_id
CHEMBL1075092       8
CHEMBL1075094       3
CHEMBL1075097     120
CHEMBL1075102      31
CHEMBL1075104    1202
                 ...
CHEMBL6175        684
CHEMBL6177          7
CHEMBL6186          8
CHEMBL6191          1
CHEMBL6195         13
Name: cmpd_id, Length: 2483, dtype: int64>
target_id
CHEMBL1075092       8
CHEMBL1075094       3
CHEMBL1075097     120
CHEMBL1075102      31
CHEMBL1075104    1202
Name: cmpd_id, dtype: int64

In [17]:
tmp.to_csv('Step10/3_groupby_nunique.csv')

### Pickup targets with more than 100 compounds

In [18]:
c = pd.read_csv('Step10/3_groupby_nunique.csv', index_col=0, squeeze=True)
c.name = "compounds"
print(type(c))

<class 'pandas.core.series.Series'>

In [19]:
print(type(c))
print(c.name)
print(c)

<class 'pandas.core.series.Series'>
compounds
target_id
CHEMBL1075092       8
CHEMBL1075094       3
CHEMBL1075097     120
CHEMBL1075102      31
CHEMBL1075104    1202
                 ...
CHEMBL6175        684
CHEMBL6177          7
CHEMBL6186          8
CHEMBL6191          1
CHEMBL6195         13
Name: compounds, Length: 2483, dtype: int64

In [20]:
subset = c[c>= 100]
print(type(subset))
print(subset.name)
print(subset)

<class 'pandas.core.series.Series'>
compounds
target_id
CHEMBL1075097     120
CHEMBL1075104    1202
CHEMBL1075138     499
CHEMBL1075145     493
CHEMBL1075165     121
                 ...
CHEMBL6154        648
CHEMBL6164        781
CHEMBL6166        119
CHEMBL6167        289
CHEMBL6175        684
Name: compounds, Length: 888, dtype: int64

In [21]:
i  = c[c >= 100].index
print(type(i))
i

<class 'pandas.core.indexes.base.Index'>

Index(['CHEMBL1075097', 'CHEMBL1075104', 'CHEMBL1075138', 'CHEMBL1075145',
       'CHEMBL1075165', 'CHEMBL1075315', 'CHEMBL1075317', 'CHEMBL1075319',
       'CHEMBL1075322', 'CHEMBL1163101',
       ...
       'CHEMBL6101', 'CHEMBL6115', 'CHEMBL6120', 'CHEMBL6136', 'CHEMBL6144',
       'CHEMBL6154', 'CHEMBL6164', 'CHEMBL6166', 'CHEMBL6167', 'CHEMBL6175'],
      dtype='object', name='target_id', length=888)

In [22]:
df1 = df[df.target_id.isin(i)]
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [23]:
df1.to_csv("Step10/4_target_id_is_in.csv", index = False)
df1.info()
df1.head()
df1.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669468 entries, 11 to 705408
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  669468 non-null  object
 1   cmpd_id    669468 non-null  object
 2   stu        669468 non-null  object
 3   ic50       669468 non-null  float64
 4   relation   669468 non-null  object
dtypes: float64(1), object(4)
memory usage: 30.6+ MB

target_id       888
cmpd_id      426264
stu               2
ic50          36556
relation          3
dtype: int64

In [37]:
# df1.to_csv("Step10/4_target_id_is_in.csv")
# df1.info()
# df1.head()

### Write target_id / compound_count to Postgresql database

In [24]:
print(psycopg2.__version__)

# conn = psycopg2.connect("dbname=chembl_29 user=kevin host=172.19.48.1 password=Ahwaz22")
# conn = psycopg2.connect(dbname="chembl_29", user="kevin", host="172.19.48.1", password="Ahwaz22")

engine = create_engine(f"postgresql://kevin:Ahwaz22@{DBHOST}:5432?dbname=chembl_29") 
conn = engine.connect()

2.9.3 (dt dec pq3 ext lo64)
Im here
 dsn: >None<
 key: >host<     value: >172.20.240.1<
 key: >user<     value: >kevin<
 key: >password<     value: >Ahwaz22<
 key: >port<     value: >5432<
 key: >dbname<     value: >chembl_29<
 dsn: >host=172.20.240.1 user=kevin password=Ahwaz22 port=5432 dbname=chembl_29<  type: <class 'str'>
 kwasync: {}
connection factory: None
 Connection successful

In [25]:
# stmt = text("SELECT chembl_id FROM pipeline_targetid ")

In [26]:
rc = c.to_sql('pipeline_targetids',  conn, if_exists='replace', index=True)
print(rc)
rc = subset.to_sql('pipeline_targetids_subset',  conn, if_exists='replace', index=True)
print(rc)

None
None

In [27]:
conn.close()

### Add log and 9 - log to dataframe

In [28]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

In [29]:
df1 = pd.read_csv("Step10/4_target_id_is_in.csv")

In [30]:
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669468 entries, 0 to 669467
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  669468 non-null  object
 1   cmpd_id    669468 non-null  object
 2   stu        669468 non-null  object
 3   ic50       669468 non-null  float64
 4   relation   669468 non-null  object
dtypes: float64(1), object(4)
memory usage: 25.5+ MB

            target_id        cmpd_id stu      ic50 relation
0       CHEMBL1075097  CHEMBL1234777  nM    1360.0        =
1       CHEMBL1075097  CHEMBL1812661  nM     311.0        =
2       CHEMBL1075097  CHEMBL1812662  nM    3430.0        =
3       CHEMBL1075097  CHEMBL2326084  nM     550.0        =
4       CHEMBL1075097  CHEMBL2326085  nM     270.0        =
...               ...            ...  ..       ...      ...
669463     CHEMBL6175  CHEMBL4646564  nM    7626.0        =
669464     CHEMBL6175  CHEMBL4648732  nM      11.0        =
669465     CHEMBL6175  CHEMBL4649004  nM     242.0        =
669466     CHEMBL6175   CHEMBL578512  nM     500.0        =
669467     CHEMBL6175    CHEMBL90852  nM  250000.0        =

[669468 rows x 5 columns]

In [31]:
df1["log_ic50"] = np.log10(df1["ic50"])
df1["pic50"] = 9 - np.log10(df1["ic50"])

In [32]:
df1.info()
df1.head()
df1.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669468 entries, 0 to 669467
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  669468 non-null  object
 1   cmpd_id    669468 non-null  object
 2   stu        669468 non-null  object
 3   ic50       669468 non-null  float64
 4   relation   669468 non-null  object
 5   log_ic50   669468 non-null  float64
 6   pic50      669468 non-null  float64
dtypes: float64(3), object(4)
memory usage: 35.8+ MB

target_id       888
cmpd_id      426264
stu               2
ic50          36556
relation          3
log_ic50      36556
pic50         36556
dtype: int64

In [33]:
df1.to_csv("Step10/5_target_with_log_info.csv", index = False )

### Join dataframe with task_group

In [123]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

In [134]:
del join_df1

NameError: name 'join_df1' is not defined

In [128]:
df1 = pd.read_csv("Step10/5_target_with_log_info.csv")
df1.info()
print()
print(df1.nunique())
print()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669468 entries, 0 to 669467
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   target_id  669468 non-null  object
 1   cmpd_id    669468 non-null  object
 2   stu        669468 non-null  object
 3   ic50       669468 non-null  float64
 4   relation   669468 non-null  object
 5   log_ic50   669468 non-null  float64
 6   pic50      669468 non-null  float64
dtypes: float64(3), object(4)
memory usage: 35.8+ MB

target_id       888
cmpd_id      426264
stu               2
ic50          36556
relation          3
log_ic50      36556
pic50         36556
dtype: int64

,target_id,cmpd_id,stu,ic50,relation,log_ic50,pic50
0,CHEMBL1075097,CHEMBL1234777,nM,1360.0,=,3.133539,5.866461
1,CHEMBL1075097,CHEMBL1812661,nM,311.0,=,2.492760,6.507240
2,CHEMBL1075097,CHEMBL1812662,nM,3430.0,=,3.535294,5.464706
3,CHEMBL1075097,CHEMBL2326084,nM,550.0,=,2.740363,6.259637
4,CHEMBL1075097,CHEMBL2326085,nM,270.0,=,2.431364,6.568636
...,...,...,...,...,...,...,...
669463,CHEMBL6175,CHEMBL4646564,nM,7626.0,=,3.882297,5.117703
669464,CHEMBL6175,CHEMBL4648732,nM,11.0,=,1.041393,7.958607
669465,CHEMBL6175,CHEMBL4649004,nM,242.0,=,2.383815,6.616185
669466,CHEMBL6175,CHEMBL578512,nM,500.0,=,2.698970,6.301030
669467,CHEMBL6175,CHEMBL90852,nM,250000.0,=,5.397940,3.602060

In [129]:
# df1.set_index('target_id')
# df1.info()
# df1

In [130]:
# engine = create_engine("postgresql://kevin:Ahwaz22@172.19.48.1:5432?dbname=chembl_29") 
## ,dbname=chembl_29,user=kevin,host=172.19.48.1,password='Ahwaz22')

engine = create_engine(f"postgresql://kevin:Ahwaz22@{DBHOST}:5432?dbname=chembl_29") 
conn = engine.connect()

Im here
 dsn: >None<
 key: >host<     value: >172.20.240.1<
 key: >user<     value: >kevin<
 key: >password<     value: >Ahwaz22<
 key: >port<     value: >5432<
 key: >dbname<     value: >chembl_29<
 dsn: >host=172.20.240.1 user=kevin password=Ahwaz22 port=5432 dbname=chembl_29<  type: <class 'str'>
 kwasync: {}
connection factory: None
 Connection successful

In [155]:
join_df1 = pd.read_sql_query(
    """ 
select distinct
        a.target_id, c.task_group
        from public.pipeline_targetids_subset as a
        inner join protein_task  as b  on a.target_id = b.target_id
        inner join protein_taskgroup_xref as c  on c.protein_id = b.protein_id
        order by target_id;    
    """,conn)

print(join_df1.info())
print()
print(join_df1.nunique())
print()
print(join_df1['task_group'].value_counts())
print()
print(join_df1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   target_id   892 non-null    object
 1   task_group  892 non-null    int64
dtypes: int64(1), object(1)
memory usage: 14.1+ KB
None

target_id     888
task_group     10
dtype: int64

6       172
1       156
11      155
0       118
1028     86
836      56
10       48
643      46
1005     37
1031     18
Name: task_group, dtype: int64

         target_id  task_group
0    CHEMBL1075097           1
1    CHEMBL1075104           6
2    CHEMBL1075138           1
3    CHEMBL1075145           0
4    CHEMBL1075165         643
..             ...         ...
887     CHEMBL6154         643
888     CHEMBL6164         643
889     CHEMBL6166           6
890     CHEMBL6167           6
891     CHEMBL6175         836

[892 rows x 2 columns]

In [141]:
join_df2 = pd.read_sql_query(
    """ select distinct 
        a.target_id, b.task_group
        from public.protein_task as a
        inner join protein_taskgroup_xref as b  on a.protein_id = b.protein_id
        order by target_id """,conn)

print(join_df2.info())
print()
print(join_df2.nunique())
print()
print(join_df2['task_group'].value_counts())
print()
print(join_df2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4050 entries, 0 to 4049
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   target_id   4050 non-null   object
 1   task_group  4050 non-null   int64
dtypes: int64(1), object(1)
memory usage: 63.4+ KB
None

target_id     4016
task_group      10
dtype: int64

0       1303
1        760
11       457
6        440
643      317
1028     209
10       202
1005     172
836      156
1031      34
Name: task_group, dtype: int64

          target_id  task_group
0     CHEMBL1075092        1005
1     CHEMBL1075094           0
2     CHEMBL1075097           1
3     CHEMBL1075101          11
4     CHEMBL1075102         643
...             ...         ...
4045     CHEMBL6189         643
4046     CHEMBL6190        1005
4047     CHEMBL6191           6
4048     CHEMBL6195        1028
4049     CHEMBL6196           1

[4050 rows x 2 columns]

In [85]:
# join_df = pd.read_sql_query(""" select  distinct
#           target_id, protein_id
#         from  protein_task
#         order by target_id""",conn)
# join_df.info()
# join_df.head()
# join_df

In [156]:
# join_df.set_index('target_id')
# join_df.info()
# join_df

In [157]:
# join_df2[join_df2['target_id'] == 'CHEMBL6175']

In [158]:
df11 =df1.join(join_df1.set_index('target_id'), on='target_id', how='left',lsuffix='_caller', rsuffix='_other')

df11.info()
print()
print(df11.head())
print()
print(df11.nunique())
print()
print(df11[df11['target_id'] == 'CHEMBL6175'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 670178 entries, 0 to 669467
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   670178 non-null  object
 1   cmpd_id     670178 non-null  object
 2   stu         670178 non-null  object
 3   ic50        670178 non-null  float64
 4   relation    670178 non-null  object
 5   log_ic50    670178 non-null  float64
 6   pic50       670178 non-null  float64
 7   task_group  670178 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 46.0+ MB

       target_id        cmpd_id stu    ic50 relation  log_ic50     pic50  \
0  CHEMBL1075097  CHEMBL1234777  nM  1360.0        =  3.133539  5.866461
1  CHEMBL1075097  CHEMBL1812661  nM   311.0        =  2.492760  6.507240
2  CHEMBL1075097  CHEMBL1812662  nM  3430.0        =  3.535294  5.464706
3  CHEMBL1075097  CHEMBL2326084  nM   550.0        =  2.740363  6.259637
4  CHEMBL1075097  CHEMBL2326085  nM   270.0        =  2.431364  6.568636

   task_group
0           1
1           1
2           1
3           1
4           1

target_id        888
cmpd_id       426264
stu                2
ic50           36556
relation           3
log_ic50       36556
pic50          36556
task_group        10
dtype: int64

         target_id        cmpd_id stu      ic50 relation  log_ic50     pic50  \
668784  CHEMBL6175  CHEMBL1215449  nM   34000.0        =  4.531479  4.468521
668785  CHEMBL6175  CHEMBL1215450  nM   10000.0        =  4.000000  5.000000
668786  CHEMBL6175  CHEMBL1215451  nM    2700.0        =  3.431364  5.568636
668787  CHEMBL6175  CHEMBL1215518  nM    1500.0        =  3.176091  5.823909
668788  CHEMBL6175  CHEMBL1215519  nM    1000.0        =  3.000000  6.000000
...            ...            ...  ..       ...      ...       ...       ...
669463  CHEMBL6175  CHEMBL4646564  nM    7626.0        =  3.882297  5.117703
669464  CHEMBL6175  CHEMBL4648732  nM      11.0        =  1.041393  7.958607
669465  CHEMBL6175  CHEMBL4649004  nM     242.0        =  2.383815  6.616185
669466  CHEMBL6175   CHEMBL578512  nM     500.0        =  2.698970  6.301030
669467  CHEMBL6175    CHEMBL90852  nM  250000.0        =  5.397940  3.602060

        task_group
668784         836
668785         836
668786         836
668787         836
668788         836
...            ...
669463         836
669464         836
669465         836
669466         836
669467         836

[684 rows x 8 columns]

In [145]:
df12 =df1.join(join_df2.set_index('target_id'), on='target_id', how='left',lsuffix='_caller', rsuffix='_other')

df12.info()
print()
print(df12.head())
print()
print(df12.nunique())
print()
print(df12[df12['target_id'] == 'CHEMBL6175'])

In [151]:
df21 =pd.merge(df1, join_df1, on='target_id', how='left',suffixes=('_left','_right'))

df21.info()
print()
print(df21.head())
print()
print(df21.nunique())
print()
print(df21[df21['target_id'] == 'CHEMBL6175'])

In [153]:
df22 =pd.merge(df1, join_df2, on='target_id', how='left',suffixes=('_left','_right'))

df22.info()
print()
print(df22.head())
print()
print(df22.nunique())
print()
print(df22[df22['target_id'] == 'CHEMBL6175'])

In [160]:
df11.to_csv("Step10/6_target_joined_with_taskgroup.csv", index = False )

In [162]:
df11['task_group'].value_counts()

6       181938
11       85665
1028     81584
1        79139
0        69626
10       39739
1005     37860
836      33273
1031     32412
643      28942
Name: task_group, dtype: int64

In [28]:
df1['task_group'].value_counts()

6       198245
11       85665
1028     81584
1        79139
0        69626
10       39739
836      38859
1005     37860
1031     32412
643      28942
Name: task_group, dtype: int64

### Add Columns for various thresholds

In [163]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

In [164]:
df1 = pd.read_csv("Step10/6_target_joined_with_taskgroup.csv")
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670178 entries, 0 to 670177
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   670178 non-null  object
 1   cmpd_id     670178 non-null  object
 2   stu         670178 non-null  object
 3   ic50        670178 non-null  float64
 4   relation    670178 non-null  object
 5   log_ic50    670178 non-null  float64
 6   pic50       670178 non-null  float64
 7   task_group  670178 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 40.9+ MB

,target_id,cmpd_id,stu,ic50,relation,log_ic50,pic50,task_group
0,CHEMBL1075097,CHEMBL1234777,nM,1360.0,=,3.133539,5.866461,1
1,CHEMBL1075097,CHEMBL1812661,nM,311.0,=,2.492760,6.507240,1
2,CHEMBL1075097,CHEMBL1812662,nM,3430.0,=,3.535294,5.464706,1
3,CHEMBL1075097,CHEMBL2326084,nM,550.0,=,2.740363,6.259637,1
4,CHEMBL1075097,CHEMBL2326085,nM,270.0,=,2.431364,6.568636,1
...,...,...,...,...,...,...,...,...
670173,CHEMBL6175,CHEMBL4646564,nM,7626.0,=,3.882297,5.117703,836
670174,CHEMBL6175,CHEMBL4648732,nM,11.0,=,1.041393,7.958607,836
670175,CHEMBL6175,CHEMBL4649004,nM,242.0,=,2.383815,6.616185,836
670176,CHEMBL6175,CHEMBL578512,nM,500.0,=,2.698970,6.301030,836
670177,CHEMBL6175,CHEMBL90852,nM,250000.0,=,5.397940,3.602060,836

In [166]:
df1['task_group'].value_counts()

6       181938
11       85665
1028     81584
1        79139
0        69626
10       39739
1005     37860
836      33273
1031     32412
643      28942
Name: task_group, dtype: int64

In [167]:
tmp = df1.groupby(by=['target_id'])['task_group'].nunique()
tmp

target_id
CHEMBL1075097    1
CHEMBL1075104    1
CHEMBL1075138    1
CHEMBL1075145    1
CHEMBL1075165    1
                ..
CHEMBL6154       1
CHEMBL6164       1
CHEMBL6166       1
CHEMBL6167       1
CHEMBL6175       1
Name: task_group, Length: 888, dtype: int64

In [168]:
tmp[tmp>1]

target_id
CHEMBL3521       2
CHEMBL4081       2
CHEMBL4105860    2
CHEMBL4958       2
Name: task_group, dtype: int64

In [169]:
idx = list(tmp[tmp > 1].index.values)
print(idx)

['CHEMBL3521', 'CHEMBL4081', 'CHEMBL4105860', 'CHEMBL4958']

In [170]:
df1[df1['target_id'].isin(idx)]['task_group'].value_counts()

11    529
0     495
1     396
Name: task_group, dtype: int64

In [171]:
value_vars = []
for thr in   [5.5, 6.5, 7.5, 8.5]:
    value_vars.append("%1.1f" % thr)
print(value_vars)

['5.5', '6.5', '7.5', '8.5']

In [172]:
for thr in   [5.5, 6.5, 7.5, 8.5]:
    thr_str = f"{thr:1.1f}"
    logging.info("Processing threshold : '%1.1f'" % thr)

    ## using +1 and -1 for actives and inactives
    df1[thr_str] = (df1["pic50"] >= thr) * 2.0 - 1.0
    df1[thr_str] = np.where(np.logical_and((df1["relation"] == '<'), (df1['pic50'] < thr)), np.nan, df1[thr_str]) 
    df1[thr_str] = np.where(np.logical_and((df1["relation"] == '>'), (df1['pic50'] > thr)), np.nan, df1[thr_str])

2022-08-02 22:53:16,312 - INFO - Processing threshold : '5.5'
2022-08-02 22:53:16,399 - INFO - Processing threshold : '6.5'
2022-08-02 22:53:16,482 - INFO - Processing threshold : '7.5'
2022-08-02 22:53:16,593 - INFO - Processing threshold : '8.5'

In [173]:
print( value_vars)

['5.5', '6.5', '7.5', '8.5']

In [174]:
df1.info()
df1
# df1['task_group'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670178 entries, 0 to 670177
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   670178 non-null  object
 1   cmpd_id     670178 non-null  object
 2   stu         670178 non-null  object
 3   ic50        670178 non-null  float64
 4   relation    670178 non-null  object
 5   log_ic50    670178 non-null  float64
 6   pic50       670178 non-null  float64
 7   task_group  670178 non-null  int64
 8   5.5         652127 non-null  float64
 9   6.5         659704 non-null  float64
 10  7.5         653215 non-null  float64
 11  8.5         650789 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 61.4+ MB

,target_id,cmpd_id,stu,ic50,relation,log_ic50,pic50,task_group,5.5,6.5,7.5,8.5
0,CHEMBL1075097,CHEMBL1234777,nM,1360.0,=,3.133539,5.866461,1,1.0,-1.0,-1.0,-1.0
1,CHEMBL1075097,CHEMBL1812661,nM,311.0,=,2.492760,6.507240,1,1.0,1.0,-1.0,-1.0
2,CHEMBL1075097,CHEMBL1812662,nM,3430.0,=,3.535294,5.464706,1,-1.0,-1.0,-1.0,-1.0
3,CHEMBL1075097,CHEMBL2326084,nM,550.0,=,2.740363,6.259637,1,1.0,-1.0,-1.0,-1.0
4,CHEMBL1075097,CHEMBL2326085,nM,270.0,=,2.431364,6.568636,1,1.0,1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
670173,CHEMBL6175,CHEMBL4646564,nM,7626.0,=,3.882297,5.117703,836,-1.0,-1.0,-1.0,-1.0
670174,CHEMBL6175,CHEMBL4648732,nM,11.0,=,1.041393,7.958607,836,1.0,1.0,1.0,-1.0
670175,CHEMBL6175,CHEMBL4649004,nM,242.0,=,2.383815,6.616185,836,1.0,1.0,-1.0,-1.0
670176,CHEMBL6175,CHEMBL578512,nM,500.0,=,2.698970,6.301030,836,1.0,-1.0,-1.0,-1.0
670177,CHEMBL6175,CHEMBL90852,nM,250000.0,=,5.397940,3.602060,836,-1.0,-1.0,-1.0,-1.0

In [175]:
df1.to_csv("Step10/7_target_with_thresholds.csv", index = False )

In [176]:
df1['task_group'].value_counts()

6       181938
11       85665
1028     81584
1        79139
0        69626
10       39739
1005     37860
836      33273
1031     32412
643      28942
Name: task_group, dtype: int64

###  Unpivot target_id and cmpd_id

In [177]:
try: 
    del df1
except NameError as e:
    print("name 'df1' is not defined")

In [178]:
value_vars = []
for thr in   [5.5, 6.5, 7.5, 8.5]:
    value_vars.append("%1.1f" % thr)
print(value_vars)

['5.5', '6.5', '7.5', '8.5']

In [179]:
df1 = pd.read_csv("Step10/7_target_with_thresholds.csv")

In [182]:
df1.info()
print()
df1.head()
print()
print(df1.nunique())
print()
print(df1['task_group'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670178 entries, 0 to 670177
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   target_id   670178 non-null  object
 1   cmpd_id     670178 non-null  object
 2   stu         670178 non-null  object
 3   ic50        670178 non-null  float64
 4   relation    670178 non-null  object
 5   log_ic50    670178 non-null  float64
 6   pic50       670178 non-null  float64
 7   task_group  670178 non-null  int64
 8   5.5         652127 non-null  float64
 9   6.5         659704 non-null  float64
 10  7.5         653215 non-null  float64
 11  8.5         650789 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 61.4+ MB


target_id        888
cmpd_id       426264
stu                2
ic50           36556
relation           3
log_ic50       36556
pic50          36556
task_group        10
5.5                2
6.5                2
7.5                2
8.5                2
dtype: int64

6       181938
11       85665
1028     81584
1        79139
0        69626
10       39739
1005     37860
836      33273
1031     32412
643      28942
Name: task_group, dtype: int64

In [187]:
logging.info("Unpivot target_id and cmpd_id ")

# Unpivot df from wide to long format
melted = pd.melt(df1, id_vars=['target_id','cmpd_id', 'task_group'], value_vars=value_vars).dropna()   
# melted = pd.melt(df1, id_vars=['target_id','cmpd_id' ], value_vars=value_vars).dropna()

2022-08-02 22:57:55,283 - INFO - Unpivot target_id and cmpd_id

In [188]:
print(melted.info())
print(melted.nunique())
melted

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2615835 entries, 0 to 2680711
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   target_id   object
 1   cmpd_id     object
 2   task_group  int64
 3   variable    object
 4   value       float64
dtypes: float64(1), int64(1), object(3)
memory usage: 119.7+ MB
None
target_id        888
cmpd_id       423809
task_group        10
variable           4
value              2
dtype: int64

             target_id        cmpd_id  task_group variable  value
0        CHEMBL1075097  CHEMBL1234777           1      5.5    1.0
1        CHEMBL1075097  CHEMBL1812661           1      5.5    1.0
2        CHEMBL1075097  CHEMBL1812662           1      5.5   -1.0
3        CHEMBL1075097  CHEMBL2326084           1      5.5    1.0
4        CHEMBL1075097  CHEMBL2326085           1      5.5    1.0
...                ...            ...         ...      ...    ...
2680707     CHEMBL6175  CHEMBL4646564         836      8.5   -1.0
2680708     CHEMBL6175  CHEMBL4648732         836      8.5   -1.0
2680709     CHEMBL6175  CHEMBL4649004         836      8.5   -1.0
2680710     CHEMBL6175   CHEMBL578512         836      8.5   -1.0
2680711     CHEMBL6175    CHEMBL90852         836      8.5   -1.0

[2615835 rows x 5 columns]

In [189]:
print(' unique target ids : ', melted["target_id"].nunique())
print(' unique task groups: ', melted["task_group"].nunique())
print(' task group value counts: \n')
print(melted["task_group"].value_counts())

 unique target ids :  888
 unique task groups:  10
 task group value counts:

6       702358
11      336268
1028    323550
1       310129
0       270580
10      155195
1005    149430
836     130131
1031    126561
643     111633
Name: task_group, dtype: int64

In [57]:
melted.to_csv("Step10/7_melted.csv", index=True)

### Write results
    
    
    1.5_melted.csv
    chembl_29_thresh.csv
    chembl_29_compounds.csv
    chmebl_29_targets.csv

In [190]:
print(outdir)
print(options.prefix)

output/chembl_29_dev
chembl_29_dev

In [191]:
print(" write %s/%s_thresholds.csv" % (outdir, options.prefix))
melted.to_csv('%s/%s_thresholds.csv' % (outdir, options.prefix), index = False)
#Write unique compound IDs
print("write %s/%s_compounds.csv" % (outdir, options.prefix))
np.savetxt("%s/%s_compounds.csv" % (outdir, options.prefix), melted["cmpd_id"].unique(), fmt="%s")
#Write unique target  IDs
print("write %s/%s_targets.csv" % (outdir, options.prefix))
np.savetxt("%s/%s_targets.csv"   % (outdir, options.prefix), melted["target_id"].unique(), fmt="%s")

 write output/chembl_29_dev/chembl_29_dev_thresholds.csv
write output/chembl_29_dev/chembl_29_dev_compounds.csv
write output/chembl_29_dev/chembl_29_dev_targets.csv

### peek at `melted.csv`

In [35]:
tmp = pd.read_csv('Step10/7_melted.csv')

In [36]:
tmp.info()
tmp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2699038 entries, 0 to 2699037
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   target_id   object
 2   cmpd_id     object
 3   task_group  int64
 4   variable    float64
 5   value       float64
dtypes: float64(2), int64(2), object(2)
memory usage: 123.6+ MB

         Unnamed: 0      target_id        cmpd_id  task_group  variable  value
0                 0  CHEMBL1075097  CHEMBL1234777           1       5.5    1.0
1                 1  CHEMBL1075097  CHEMBL1812661           1       5.5    1.0
2                 2  CHEMBL1075097  CHEMBL1812662           1       5.5   -1.0
3                 3  CHEMBL1075097  CHEMBL2326084           1       5.5    1.0
4                 4  CHEMBL1075097  CHEMBL2326085           1       5.5    1.0
...             ...            ...            ...         ...       ...    ...
2699033     2768279     CHEMBL6175   CHEMBL578512         836       8.5   -1.0
2699034     2768280     CHEMBL6175   CHEMBL578512         836       8.5   -1.0
2699035     2768281     CHEMBL6175    CHEMBL90852         836       8.5   -1.0
2699036     2768282     CHEMBL6175    CHEMBL90852         836       8.5   -1.0
2699037     2768283     CHEMBL6175    CHEMBL90852         836       8.5   -1.0

[2699038 rows x 6 columns]

In [37]:
tmp.nunique()

Unnamed: 0    2699038
target_id         888
cmpd_id        423809
task_group         10
variable            4
value               2
dtype: int64

In [38]:
tmp['task_group'].value_counts()

6       764934
11      336268
1028    323550
1       310129
0       270580
10      155195
836     150758
1005    149430
1031    126561
643     111633
Name: task_group, dtype: int64

In [192]:
test = [(10, (['a', 'b', 'c'], [1,2,3])), (11, (['d', 'e', 'f'], [4,5,6]))]

In [203]:
a,b = zip(*test)

In [204]:
a

(10, 11)

In [205]:
b

((['a', 'b', 'c'], [1, 2, 3]), (['d', 'e', 'f'], [4, 5, 6]))

In [207]:
for i in ((['a', 'b', 'c'], [1, 2, 3]), (['d', 'e', 'f'], [4, 5, 6])):
    print(i)

(['a', 'b', 'c'], [1, 2, 3])
(['d', 'e', 'f'], [4, 5, 6])

In [ ]:
c